# Node.js dependencies
node_modules/
build/

# Lock files (keeping yarn.lock)
package-lock.json

# Environment variables
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# ESLint & Prettier cache
.eslintcache

# MacOS system files
.DS_Store

# Docker files
docker-compose.override.yml

# Swagger API docs output
swagger-output.json

# TypeScript build cache (optional, if using tsbuildinfo)
*.tsbuildinfo

# documentations
/docs
